/* Fondo: #030012 */
*{
    padding: 0%;
    margin: 0%;
}
/*NavBar*/

header{
    position: sticky;
}

.mobile{
    display: none;
}

.cont_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(8, 8, 82);
}
.estilo{
    list-style: none;
}

.link:hover{
    color: rgb(73, 72, 72);
    transition: 3s;
}

.fondo{
    background-color: #030012;
}

.logo{
    width: 8rem;
    position: relative;
    left: 100px;
}

.cont_text_nav{
    display: flex;
    position: relative;
    right: 450px;
}

.link{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

/*Main(Dashboard)*/
.titulo{
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 2.5rem;
}

.dsb{
    color: black;
}

.container{
    background-color: rgb(179, 175, 175);
}

.text{
    color: white;
    font-size: 1rem;
}

/* Descripcion de una obra */

.orden_main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;
}

.img{
    width: 20rem;
    margin:15px ;
    border:solid black 1px;
    border-radius: 20px;
}

.cont_commit{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    background-color: rgb(179, 175, 175);
    justify-items: center;
    align-items: center;
    padding: 15px;
    width: fit-content; 
    height: fit-content;
    margin-right: 30px;
    border: solid rgb(100, 100, 100) 2px;
    border-radius: 20px;
}

/*Perfil*/

.espacio{
    margin: 15px;
    padding: 10px;
}

.perfil{
    width: 3rem;
    border: solid black 2px;
    border-radius: 100px;
}

.perfil2{
    width: 2.5rem;
    border: solid black 2px;
    border-radius: 100px;
}

.user{
    display: flex;
    align-items: center;
    margin: 10px;
}

.user_name{
    margin: 5px;
}

/*Responsive Dashboard*/
@media (max-width: 600px){
    .cont{
        grid-template-columns: repeat(7,1fr);
        align-items: center;
        gap: 10px;
    }

    .mobile{
        display: block;
        width: 1.5rem;
        position: relative;
        right: 40px;
    }

    .text{
        color: white;
        font-size: 0.8rem;
    }

    .cont_text_nav{
        display: none;
    }

    .logo{
        width: 6rem;
        position: relative;
        left: 50px;
    }

    .img{
        width: 18rem;
        margin-left:10px ;
        border:solid black 1px;
        border-radius: 20px; 
        position: relative;
        left: 20px;
    }

    .orden_main{
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
        justify-content: center;
        align-items: center;
    }
    .cont_commit{
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgb(179, 175, 175);
        justify-items: center;
        align-items: center;
        padding: 10px;
        width: fit-content; 
        height: fit-content;
        margin-top: 15px;
    }

    .espacio{
        margin: 5px;
        padding: 5px;
    }
}